*{
background-image: url(home3.jpg);

}

.navbar{ 
    width: 85%;
    margin: auto;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    
}
.navbar li {
    color: aliceblue;
list-style: none ;
display:inline-block ;
margin: 0px 20px;
overflow: auto;
font-size: 24px;

}
.navbar li a{
    color: aliceblue;
    text-decoration: none;
    overflow: hidden;
    transition: 1.5s;
    
    
}
.navbar li a:hover{
    color: red;
    background-color:red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    padding: 20px;
    

}
.h1{
    color: aliceblue;
    position:center;
    margin:10px;
    font-size: 20px;
    border: red;
}

.h2{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 8%;
    width: 45%;
    padding: 40px 0px;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0,0,0.3);
    color: #fff;
   font-style: italic;
    font-size: 30px;
    border: 10px inset red;

}
.h2:hover{
    color: red;
    background-color:red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
    padding: 20px;
    
}
.buble img{
    width: 50px;
    padding: -10px;
    border-radius: 90px;
    border: transparent;
    background: transparent;
    animation: buble 9s linear infinite;
}
.buble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -90px;
    background: transparent;
    margin: 0;
    padding: 0px;
    
}
@keyframes buble{
    0%{transform: translateY(0);
    opacity: 0;}
    50%{
        opacity: 1;
    }
    70%{opacity: 1;}
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

    

    
}
.buble img:nth-child(1){
    animation-delay:1s ;

}
.buble img:nth-child(2){
    animation-delay:3s ;

}
.buble img:nth-child(3){
    animation-delay: 4s;
width: 30px;
}
.buble img:nth-child(4){
    animation-delay: 7s;

}
.buble img:nth-child(5){
    animation-delay: 9s;

}
.buble img:nth-child(6){
    animation-delay: 6s;
    width: 30p

}
.buble img:nth-child(7){
    animation-delay: 2s;

}
@media screen and (max-width:880px) and (max-height:700px) 
    

{

    *{
        background-image: url(home3.jpg );
       
        }
        
    .navbar{ 
        width: 25%;
        margin: auto;
        padding: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: cover;
        float: left;
        
    }
    .navbar li {
        color: aliceblue;
    list-style: none ;
    display:block ;
    margin: 0px -20px;
    overflow: auto;
    font-size: 18px;
    background: rgb(232, 109, 109);
    padding: 10px;
    margin-top: 20px;
    border-radius: 130px;
    
    }
    .navbar li a{
        color: aliceblue;
        text-decoration: none;
        overflow: hidden;
        transition: 1.5s;
        margin-left: 10px;
      
        background: transparent;
    }
    .navbar li a:hover{
        color:white;
        background-color:red;
        box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
        padding: 10px;
        
    
    }
    .h1{
        color: red;
        position:relative;
        margin:0px;
        font-size: 20px;
        border:black;
        left: 10px;
        right: 79px;
        bottom: 10px;
        text-decoration: none;
        padding-bottom: 0px;
        margin-top: 20px;
        border-radius: 30px;
        
    }
    
    .h2{
        color: aliceblue;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-10%);
        z-index: 8%;
        width: 70%;
        height: 10%;
        padding: 30px 0px;
        text-align: center;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: rgba(0, 0,0,0.3);
        color: #fff;
       font-style: italic;
        font-size: 15px;
        border: 10px inset red;
    
    }
    .h2:hover{
        color: red;
        background-color:red;
        box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;
        padding: 10px;
        
    }
}
@media (max-width:1030px){
    .h1{
        color: red;
        position:relative;
        margin:10px;
        font-size: 18px;
        border: red;
        right: 40px;
    }
    

}